* {
	box-sizing: border-box;
}
body {
  	font-family: sans-serif;
}
.container{
	max-width:1050px;
	margin:0 auto;
}
h1{
	text-align:center;
}
img{
	display: block;
}
/* ---- button ---- */
.button-group h2{
	display:inline-block;
	margin-right:20px;
}
.button {
  	display: inline-block;
  	padding: 10px 18px;
  	margin-bottom: 10px;
  	background: #EEE;
  	border: none;
  	color: #222;
  	font-size: 1em;
  	cursor: pointer;
}

.button:hover {
  	background-color: #9BB;
  	color: #222;
}

.button:active,
.button.is-checked {
  	background-color: #399;
  	outline:none;
}

.button.is-checked {
  	color: white;
}

/* ---- isotope ---- */
.grid{
}
/* clear fix */
.grid::after {
  	content: '';
  	display: table;
  	clear: both;
}

/* ---- .element-item ---- */

.element-item {
	margin: 5px;
	position:relative;
}
.nom{
	position:absolute;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,.5);
	margin:0;
	padding:.5em;
	text-align:center;
	color:#fff;
	font-size:.75em;
	font-weight:normal;
}
